/* media query.css */
/* Apply the Roboto font to the entire body */
body{
    font-family: 'Roboto', sans-serif;
}
/* Common styles for header, main. and footer */
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(0,0,0,0.1); /* faint border */
    padding: 1rem;
    background-color: #e6f0ff; /* Bluish blue */
}
/* CSS Grid for the main element */
main {
    display: grid;
    grid-template-columns: 1fr; /* one column */
    gap: 1rem; /* equal gap of 1rem*/
}
/* Additional styles for section elements */
section {
    padding: 1rem;
    background-color: #ffff; /*lighter ot ehite background */
}
@media screen and (min-width: 500px) {
    /*change the header background to black with white text.*/

header {
    background-color: #0000;
    color: #ffff;
}
main {
    grid-template-columns: 1fr 1fr;
}
}