@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #001021;
    --secondary-color: #004b23;
    --accent1-color: #ffffff;
    --accent2-color: #ccff33;
  
    /* change the values below to your chosen font(s) */
    --heading-font: sans-serif;
    --paragraph-font: Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #001021;
    --paragraph-color-on-white: #38b000;
    --paragraph-color-on-color: #ffffff;
    --paragraph-background-color: #ccff33;
    --nav-link-color: #eeeeee;
    --nav-background-color: #e39774;
  
    --nav-hover-link-color: #eeeeee;
    --nav-hover-background-color: #396E94;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  header{
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
  }
  .hamburger{
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
  }
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    margin-left: 30px;
  }
  nav .mainMenu{
    display: none;
  }
  nav .mainMenu .active{
    display: flex;
    flex-direction:column;
   position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color:var(--nav-hover-background-color);
    
    z-index: 10;
  }
  nav .mainMenu li a{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #ffffff;
  }
 
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  ul li a{
    display: flex;
    text-decoration: none;
  }
  ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  nav{
    background: var(--secondary-color);
    display: flex;
    margin-left: 80px;
  }
  nav .mainMenu{
    display: flex;
    list-style: none;
  }
  
  nav .mainMenu li a:hover{
    background: var(--paragraph-background-color);
    color: #001021;
  }
  nav .openMenu{
    font-size: 2rem;
    margin: 1px;
    display: none;
    cursor: pointer;
  }
  ul li a{
    display: flex;
    margin-right: 90px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  li{
    display: flex;
    text-align: right;
  }
  .image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .image-container img{
    width: 23%;
    margin: 1%;
  }
 h1{
    color: white;
    font-family: fantasy;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
 h2{
    color:var(--primary-color);
    font-size: 45px;
    font-family: fantasy;
    padding: 20px;
    text-align: center;
  }
  h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 70px;
    font-size: 25px;
  }
 p{
    text-align: center;
    font-size: 25px; 
  }
 div p{
    margin-left: 70px;
    margin-right: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: 25px;
    margin-bottom: 40px;
    font-weight: 50;
  } 
footer{
    background-color: var(--secondary-color);
    color:var(--paragraph-color-on-color);
    padding: 20px;
}
footer p{
    font-size: 20px;
}
@media(max-width: 800px){
    nav .mainMenu{
      height: 100vh;
      position: fixed; 
      top:0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      transition: top 1s ease;
      display:none;
     }
     nav .mainMenu.active{
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      width: 100%;
      justify-content: left;
      margin-top: 90px;
     }
    nav .mainMenu li a:hover{
      color:black;
      font-size: 1.6rem;
    }
    nav .mainMenu li a {
      font-size: 2rem;
      padding: 5px;
      border-radius: 10px;
      background-color: #38b000;
    }
  }
  @media (max-width: 800px){
    .gallery-item img{
      width: 48%;
    }
}
  @media(max-width: 500px){
    .gallery-item img{
      width: 98%;
    }
  }