:root {
  /* fonts */
  --font-heading: Georgia, 'Times New Roman', Times, serif;
  --font-page: Verdana, Geneva, Tahoma, sans-serif;

  /* colors */
  --top-color: #250001;
  --top-color-light: #ccff33;
  --text-light: white;
  --bottom-color: #000000;
  --bottom-color-light: #38b000;
  --bottom-color-medium: #89ae9c;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
}
h1, h2 {
  color: #2c3e50;
}
p {
  color: #34495e;
}
.color-sample {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
h1, h2, h3,p{
     text-align: center;
}
img{
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul,li{
  list-style: none;
  text-align: center;
}