
:root {
    /* change the values below to your colors from your palette */
    --primary-color: #cdb4db;
    --secondary-color: #fef6f1;
    --accent1-color: #f5ebe0;
    --accent2-color: #974a07;
    --accent3-color: #fff;

    /* change the values below to your chosen font(s) */
    --heading-font: "IM Fell French Canon SC";
    --paragraph-font: Lato, Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;
    /* headlines on a white background */
    --headline-color-on-color: white;
    /* headlines on a colored background */
    --paragraph-color-on-white: #396E94;
    /* paragraph text on a white background */
    --paragraph-color-on-color: white;
    /* paragraph text on a colored background */
    --paragraph-background-color: #396E94;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
}
header h1 {
    padding: 30px;
    display: grid;
    grid-template-columns:  auto;
    padding-left: 100px ;
    font-size: 25px;
}
header{
    background-color:#396E94;
    color: white;
    padding: auto;
}

nav  {
    background-color: darksalmon;
    color: white;
    text-align: center;
    word-spacing: 100px;
    font-size: 25px;
    padding: 10px;
}
h1, h2, h3 {
    text-align: center;
}
nav a {
    color:white;
    text-decoration: none;
    margin-right: 1rem;
    text-align: center;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: bisque;
}

.container{
    display: flex;
    justify-content:center
}
.card{
    background: #fff;
    width: 800px;
    height: 600px;
    margin: 10px;
    border-radius: 25px;
}

h2 {
    background: #fef6f1;
    padding: 10px;
}
img {
    border-radius: 50%;
    width: 150px;
    float: right;
}
li {
    text-align:left;
    margin-left: 10%;
    font-size: 25px;
    margin-top: 10%;
}
ul{
    float:left;
}
footer {
    padding:25px;
    background-color: #396E94;
    color: white;
    text-align: center;
    font-size: 25px;

}

