:root{
    --background-color: white;
    --font-family:  Verdana;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
h1{
    font-size: 40px;
}
h1, h2{
    font-family: var(--font-family);
}
.hero-img{
    max-width: 100%;
    height: auto;
}
header{
    background-color: #008000;
    color: white;
    text-align: center;
    padding: 20px 0;
}
main{
    background-color: var(--background-color);
    padding-top: 20px;
}
.data{
    background-color:white ;
    padding: 20px;
    position: absolute;
    top: 215px;
    left: 15px;
    z-index: 1;
}
.data h2{
    font-size: 30px;
    margin-left: -31px;
    margin-right: 55px;
    padding: 25px;
    background-color: blue;
    color: black;
}
.weather{
    background-color: blue;
    padding: 20px;
    position: absolute;
    right: 20px;
    top: 900px;
    z-index: 1;
}
.weather info{
    margin-left: -30px;
    margin-right: 60px;
    display: flex;
    padding: 15px;
    background-color: blueviolet;
}
.weather h2{
    color: black;
    font-size: 30px;
    margin-top: -9px;
    margin-right: 10px;
}
.weather img{
    display: none;
}
section p{
    text-align: center;
}
footer{
    background-color: #008000;
   color: white;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   padding: 10px 0;
}
footer::after{
    content: "Portfolio Page";
}
/* Media query for lesser screens */
@media screen and (max-width: 600px) {
    .hero picture{
        display: block;
    }
    .data, .weather{
        padding: 0;
        top: auto;
        right: auto;
        left: auto;
        position:relative;
    }
    main{
        background-color: white;
    }
    .weather-info{
        flex-direction: 0.5em;
        align-items: center;
        background-color: white;
    }
    .weather h2{
        margin-bottom: 0.5em;
    }
    .data h2{
        text-align: center;
        margin-bottom: 0.5em;
        background-color: white;
    }
}