header {
    background-color: #736b92;
    color: white;
    text-align: center;
    font-size: 20px;
    word-spacing: 130px;
    padding: 2px; 
}
*{
    list-style: none;
    text-decoration: none;
}
.responsive-image {
    width: 70%;
    height: auto;
}
.flex-container{
    display: flex;
    justify-content: space-around;
}
.grid-container{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(50px, 3fr));
}


@media(min-width: 768px){
    .grid-container{
       grid-template-columns: repeat(3, 1fr);
    }
}