body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  #8c92ac;
    color: white;
}
header{
    background-color: #736b92;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.header-title{
    margin-top: center;
}
#hamburger-menu{
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}
#sidebar-menu{
    visibility: hidden;
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.navbar a:hover{
    color: aqua;
}
.responsive-image {
    width: 70%;
    height: auto;
}
h1{
    float: left;
}
figure {
    text-align: center;
}